<template>
    <lightning-card title="Contacts" class="slds-m-bottom_x-large">
        <lightning-layout>
            <lightning-layout-item size="12" padding="around-small">
                <lightning-record-edit-form object-api-name="Contact" record-id={recordId} onsuccess={successHandler} data-id='form'>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name='FirstName' value={contact.FirstName} required class="validate"></lightning-input-field>
                            <lightning-input-field field-name='LastName' value={contact.LastName}></lightning-input-field>
                            <lightning-input-field field-name='Birthdate' value={contact.Birthdate} required class="validate"></lightning-input-field>
                        </div>
                        <div class="slds-col slds-size_1-of-2 contenitor">
                            <lightning-input-field field-name='Phone' value={contact.Phone}></lightning-input-field>
                            <lightning-input-field field-name='Email' value={contact.Email}></lightning-input-field>
                            <lightning-input-field field-name='Fiscal_Code__c' value={contact.Fiscal_Code__c} required class="validate"></lightning-input-field>
                            <lightning-button variant="destructive" label="Delete" title="Destructive action" onclick={deleteContact} class="slds-m-left_x-small btn-delete"></lightning-button>
                        </div>
                    </div>
                </lightning-record-edit-form>
            </lightning-layout-item>
        </lightning-layout>
    </lightning-card>
</template>