<template>
        <div style="height: 300px;">
                <lightning-datatable key-field="id" data={result} columns={columns} onrowaction={handleRowAction}>
                </lightning-datatable>
        </div>
</template>