<template>
    <template for:each={arrayForms} for:item="contact" for:index="index">
        <c-form-contact key={contact.Id} contactinfo={contact} oncontactremove={removeContact}></c-form-contact>
    </template>
</template>